* {
  box-sizing: border-box;
}

header {
  background-color: darkgray;
}
header img {
  margin-bottom: 0cm;
}

nav {
  margin: 1rem auto;
  width: 960px;
}

main {
  margin: 30px auto 0;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start; 
}

img {
  margin-bottom: 30px;
}

footer {
  background-color: gray;
  height: 50px;
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;
}