* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: cornsilk;
  color: saddlebrown;
}

h1 {
  font-size: 5rem;
  color: rosybrown;
  line-height: .8;
  margin: 3rem 0 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
}
nav, ul  {
  display: flex;
  align-items: baseline;
}
nav ul li {
  padding: .5rem 1rem;
  font-size: 1.5rem;
}
nav a {
  color: rosybrown;
  text-decoration: none;
}
main > a {
  z-index: 2;
}

main {
  width: 1024px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 250px 4fr;
  grid-template-rows: 6.5rem 10rem 20rem 40%;
}

#siteLogo {
  width: 250px;
  z-index: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

main > section {
  /* This element will be a grid item, but also a flex container */
  background-color: rgba(211, 187, 176, 0.3);
  padding: 2rem;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section img {
  width: 460px;
  max-height: 26rem;
  border: 5px solid transparent;
}
section img:hover {
  border: 5px solid rgb(169, 108, 28);
  cursor: pointer;
}

section + div {
  grid-column-start: 2;
  max-height: 400px;
  padding: 2rem;
}

section > article {
  margin-top: 5rem;
}

article h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

article p {
  margin-bottom: 1rem;
  line-height: 120%;
}

article section {
  overflow: auto;
  height: 17rem;
}
