main {
  width: 80%;
  margin: 3rem auto;
}

.container {
  border: 1px solid black;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 10% 1fr 40%;
  grid-template-rows: 20rem 1fr 2fr 2fr 2fr;
}
.container div {
  background-color: lightgray;
  margin: .5rem;
  border: 1px solid black;
  /* flex: 1 1 20%;
  height: 4rem; */
}

div:nth-child(4n + 2) {
  /* flex: 0 1 10%; */
  background-color: lightgreen;
}
div:nth-child(4n) {
  /* flex: 3 0 40%; */
  background-color:skyblue;
}